extends layout

block content
  .container
    h1 About 3ax
    p 3ax is an easily extensible, robust API for passing device input over sockets to a web client (or anything that can implement sockets).
    p Actually, right now it's more of an example, because I'm not actually offering the service yet. But if you want to code with it, you can use the example API key, and if you want to use it in production you can clone it and host it yourself on heroku. 
    p I built it mostly as an experiment to brush up with some of the underlying technologies, but I think it's useful. I'm sick of beautiful html5 apps and games that rely on the mouse (or worse: trackpad!) and keyboard for input &mdash; they're so limited relative to the power of a separate game controller.

    p Developers should view the project and get in touch there if you want to talk about it. 
      a(href="http://github.com/jackphelps/3ax") on Github

    p Note: The awesome flamingo was cribbed shamelessly from the totally amazing 
      a(href="http://ro.me") ro.me
      | . Which, by the way, is just one example of an app that would benefit hugely from from 3ax ;)