extends layout

block content
  h1= title
  p a simple API for using smartphones as controllers
  .accel
  .log


  head
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/input.js')