doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//normalize-css.googlecode.com/svn/trunk/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content