body {
  margin:0;
  padding:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
.container {
  margin: 6% auto;
  padding: 5% 5%;
  max-width:600px;
  background-color:#eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size:1.2em;
  text-align: justify;
}

#canvas-container {
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
}
#canvas-directions {
  position: fixed;
  padding: 25px 70px;
  top: 5px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
#ctrl-url {
  color:#f0f;
}
.game-overlay {
  border-radius: 6px;
  background:rgba(20,20,20,0.9);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
  text-align:center;
  color: #fff;
}
.game-overlay a, .game-overlay a:visited {
  color:#fff;
}
#about {
  position:fixed;
  padding: 8px 20px;
  bottom:5px;
  right:5px;
}
.ctrl-container {
  position:fixed;
  background-color:#222;
  height:100%;
  width:100%;
}
.ctrl-spacer {
  background-color:#222;
  height:1000px;
}

.ctrl-btn {  
  border-radius: 99px;
  padding: 25px 70px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
  text-align:center;
  color: #fff;
  font-size:3em;
  text-transform: capitalize;
  font-weight: bold;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background:linear-gradient(to top, #369 0%, #69c 100%);
  user-select: none;
}
.hidden {
  display:none;
}